*{

    margin: 0;
    padding:0;
}

h1{
    font-family:sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h2{

font: bold 14px sans-serif ;
}

header, section,footer,aside,article,nav,article,hgroup{

    display:block;


}
body{

       text-align:center; 
}

.agrupar{
    border:1px solid black;
    width:960px;
    margin: 15px auto;

}
header{
    background:#55efc4;
}

