*{

    margin: 0;
    padding:0;
}

h1{
    font-family:sans-serif;
    font-size: 30px;
    font-weight: bold;

}

h2{

font: bold 14px sans-serif ;
}

header, section,footer,aside,article,nav,article,hgroup{

    display:block;


}
.cabecera{
    background:#ffeaa7;
    padding: 20px;;

    text-align: left;
}
body{
   
       text-align:center; 
}

.agrupar{
    border:1px solid rgb(0, 0, 0);
    width:960px;
    margin: 15px auto;
    

}


.menu{
    background:#ffeaa7;
    padding: 5px 15px;
    text-align: left; 
   
}
.menu li{
    list-style: none;
    padding:5px;
    font: bold 14px verdana;
    display:inline-block;
    border-right:2px solid #000000;
    
}
.menu a{
    border-right: 2px solid black;
    padding: 5px;
}
.seccion{
    margin: 20px;
   width:600px;
   float: left;

  
}
article{
        background-color: #ffeaa7
       
}

article hgroup{
    text-align: left;
   
}
hgroup h1{
    margin: 10px;
    font:bold 25px verdana;
}
 hgroup h2{
    color:#303233;
    margin-left: 1px ;
 }


.article footer{

    text-align: left;
    margin-bottom:100px;
    font: bold 15 verdana;
}
time{
    color: rgb(43, 41, 41);     
    float: right;
    padding: 30;

}
.columna{
    width: 300px;
     float: left;
     margin: 20px 0;
}
.columna blockquote{

    border:1px solid black;
    padding:30px;
    margin-bottom: 20px;
    background: #ffeaa7;

}
.pie{
    clear:both;
    display: block;
    padding: 20px;
    background: #636e72;
    color:white;
}
img{
    display:block;
    margin:40px auto;
    width: 200px;

}

section footer{
    margin:20px;
    text-align:left;
}
 
.green{

    margin: 60px;
}
 










































































































